<h1>About Us</h1>
<p>
  <a href="http://www.inaturalist.org/">iNaturalist.org</a>
  is a website where you can share photos about nature. This project
  uses the iNat API to try to mash up a liter version of some of the
  site's functionality.
</p>