<footer class="footer">
  <small>
    iNat Lite is a mashup of <a href="http://www.inaturalist.org/">iNaturalist</a>
    by Scott Loarie
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="http://www.inaturalist.org/">iNaturalist</a></li>
    </ul>
  </nav>
</footer>